{% extends "base.html" %}

{% block content %}

    <div class="hobbies-page-container">
        <div class="title-header">
            <h3>━━ Hobbies</h3>
        </div>

        <div class="hobby-cards-container">
            {% for hobby in hobbies %}
            <div class="hobby-card">
                {% if hobby.image %}
                <img src="/static/img/hobbies/{{ hobby.image }}" alt="{{ hobby.name }}">
                {% endif %}
                <h4>{{ hobby.name }}</h4>
                <p>{{ hobby.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
