<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Caly Zheng">
    <meta property="og:description" content="Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <title>{{ title }}</title>
</head>

<body>

    <!-- Home Section -->
    <div id="home" class="home-container">
        <div id="bio-container">
            <h1 class="mb-4">Caly Zheng</h1>
            <h2>Student software engineer with a passion in backend, cloud computing, and infrastructure.</h2>
        </div>
        <div id="image-container">
            <img id="headshot" src="/static/img/headshot.png" alt="Caly Zheng">
        </div>
    </div>

    <!-- About Section -->
    <div class="about-container">
        <div class="title-header">
            <h3>━━ About</h3>
        </div>
        {% for paragraph in about %}
        <p>{{ paragraph }}</p>
        {% endfor %}
    </div>

    <!-- Experience Section -->
    <div class="experience-container">
        <div class="title-header">
            <h3>━━ Experience</h3>
        </div>
        <div class="experience-timeline">
            <ul class="timeline">
                {% for exp in experience %}
                <li class="timeline-item">
                    <div class="timeline-opposite">
                        <h4>{{ exp.start }}</h4>
                    </div>
                    <div class="timeline-separator">
                        <div class="timeline-dot"></div>
                        <div class="timeline-connector"></div>
                    </div>
                    <div class="timeline-content">
                        <h4>{{ exp.company }}</h4>
                        <p><b>{{ exp.title }}</b></p>
                        <p>{{ exp.description }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>
</html>
